:root {
  --primary-color: #233142;
  --secondary-color: #f95959;
  --tertiary-color: #f29696;
  --fourth-color: #e3e3e3;
}

body {
  background: var(--fourth-color);
  color: var(--fourth-color);
  font-family: "Roboto", sans-serif;
}

.App {
  background: var(--primary-color);
  max-width: 800px;
  border-radius: 8px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
