.WeatherForecast {
  text-align: center;
}

.WeatherForecast .max-temperature {
  color: var(--secondary-color);
}

.WeatherForecast .min-temperature {
  color: var(--tertiary-color);
  margin-left: 5px;
}

.WeatherForecast .temperatures {
  margin-top: -28px;
}
