.Weather {
  padding: 25px 0;
  color: var(--fourth-color);
  font-family: "Roboto", sans-serif;
}

.Weather form {
  border-bottom: 1px solid var(--fourth-color);
  padding: 0 0 30px 0;
}

.Weather .search-bar {
  background: var(--fourth-color);
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 20px;
}

.Weather .search-button {
  background: var(--secondary-color);
  color: var(--fourth-color);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 20px 50px;
}

.Weather .weather-city {
  font-size: 40px;
  font-weight: 700;
}

.Weather .weather-details {
  line-height: 1.5;
  font-size: 18px;
}

.Weather .humidity-value,
.wind-speed-value {
  color: var(--secondary-color);
  font-weight: 600;
}

.Weather .temperature-value {
  font-size: 75px;
  font-weight: 700;
  line-height: 64px;
  margin-left: 30px;
}

.Weather .temperature-unit {
  font-size: 30px;
  position: relative;
  top: -34px;
}

.Weather img {
  position: relative;
  top: -20px;
}
